h1 {
  text-align: center;
  height: 1.7em;
  background: black;
  color: #fff;
  font-weight: bold;
  line-height: 1.5em;
}
body {
  background-image: url("https://image.freepik.com/free-photo/blurred-background-rows-black-dumbbells-rack-gym_42687-402.jpg");
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.form-group {
  width: 19em;
  margin: auto;
}

#role-dropdown {
  padding-right: 2em;
}
